a {
    color: #0366d6;
}

body {
    background: linear-gradient(180deg, #d4fc79 0%, #96e6a1 100%);
}

.center-full {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}